.mobile-footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  height: 46px;
  z-index: 9999;
  border-top: 1px solid rgba(79, 80, 90, 0.1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    i {
      display: block;
      width: 30px;
      height: 30px;
      @include for-mobile-layout {
        width: 24px;
        height: 24px;
      }
      svg {
        stroke-width: 5px;
      }
    }
  }
  .pantry-nav {
    path {
      stroke: rgba(79, 80, 90, 0.5);
    }
    &.active {
      path {
        stroke: $clr2;
      }
      p {
        color: $clr2;
      }
    }
  }
  .recipes-nav {
    path {
      fill: rgba(79, 80, 90, 0.5);
    }
    &.active {
      path {
        fill: $clr2;
      }
      p {
        color: $clr2;
      }
    }
  }
  .favourites-nav {
    svg {
      stroke: rgba(79, 80, 90, 0.5);
    }
    &.active {
      path {
        stroke: $clr2;
        fill: $clr2;
      }
      p {
        color: $clr2;
      }
    }
  }
  .login-nav {
    path {
      stroke: rgba(79, 80, 90, 0.5);
      stroke-width: 2;

      fill: rgba(79, 80, 90, 0.5);
    }
    &.active {
      path {
        stroke: $clr2;
        fill: $clr2;
      }
      p {
        color: $clr2;
      }
    }
  }
  p {
    color: rgba(79, 80, 90, 0.5);
    font-size: 14px;
    @include for-mobile-layout {
      font-size: 12px;
    }
  }
}
