.main-layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  & > * {
    grid-row: 1;
  }
}

.main-text {
  margin-bottom: rem(90px);
}

.grid {
  display: grid;
}

.scroll-placeholder-recipes{
  grid-column: 2;
}

.scroll-placeholder-pantry {
  grid-column: 1;
}
.scroll-placeholder-pantry,.scroll-placeholder-recipes {
  height: 100dvh;
  overflow: scroll;
}
