.main-layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  & > * {
    grid-row: 1;
  }
}

.main-text {
  margin-bottom: rem(90px);
}

.grid {
  display: grid;
}
.col-2{
  grid-column: 2;
}
.col-1{
  grid-column: 1;
}
.row-2{
  grid-row: 2;
}
.row-1{
  grid-row: 1;
}


.scroll-placeholder{
  height: 100dvh;
  overflow: scroll;
}
